.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/ptr-lib/build/intermediates/classes
/ptr-lib/build
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
