<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.testdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <application
        android:name=".TestDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.PanelLayoutActivity" />
        <activity android:name=".activity.DrawerMenuActivity" />
        <activity android:name=".activity.CustomImageActivity" />
        <activity android:name=".activity.CustomProgressBarActivity" />
        <activity android:name=".activity.CustomVolumControlBarActivity" />
        <activity android:name=".activity.CustomImgContainerActivity" />
        <activity android:name=".activity.VDHLayoutActivity" />
        <activity android:name=".activity.ColorTrackViewActivity" />
        <activity android:name=".activity.PropertyAnimationActivity" />
        <activity android:name=".activity.RxAndroidActivity" />
        <activity android:name=".activity.VolleyActivity" />
        <activity android:name=".activity.RxMoreActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.OkHttpActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".support_library.SupportLibraryMainActivity" />
        <activity android:name=".support_library.SubActivity" />
        <activity android:name=".activity.CoordinatorLayoutActivity" />
        <activity android:name=".activity.WeChatActivity" />
        <activity android:name=".activity.SnackbarActivity" />
        <activity android:name=".activity.ScrollerActivity" />
        <activity android:name=".activity.PullToRefreshActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.ImageButtonActivity" />
        <activity android:name=".activity.SVGActivity" />
        <activity android:name=".activity.CircleProgressBarActivity" />
        <activity android:name=".activity.JDIndexActivity" />
        <activity android:name=".activity.LayoutTransitionActivity" />
        <activity android:name=".activity.SwipeToLoadLayoutActivity" />
        <activity android:name=".activity.ScreenTestActivity" />
        <activity android:name=".activity.CreditScoreActivity" />
        <activity android:name=".activity.StartAppActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.BatteryActivity" />
        <activity android:name=".activity.TimeAxisActivity" />
        <activity android:name=".activity.TimeAxisVerticalActivity" />
        <activity android:name=".activity.ChoiceQuestionActivity" />
        <activity android:name=".activity.ImageChoiceQuestionActivity" />
        <activity android:name=".activity.TextChoiceQuestionActivity" />
        <activity android:name=".activity.FillBlankQuestionActivity" />
        <activity android:name=".activity.SpanFlagActivity" />
        <activity android:name=".activity.DragActivity" />
        <activity android:name=".activity.DragFillBlankQuestionActivity" />

        <receiver android:name=".broadcast.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
